@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
}



main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.0.05);
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

section{
    padding: 35px;
}

section.grey-blue {
    background-color: hsl(179, 47%, 52%);
    color: #fff;
}


section.cyan {
    background-color: hsl(179, 62%, 43%) ;
    color: #fff;
}

.row {
    display: flex;
}

.row > section {
    flex: 1;
}

h1 {
    color:  hsl(179, 62%, 43%);
    font-size: 40px;
}
p {
    font-size: 18px;
}

.p.light-black {
    color: #999;
    margin: 7px;
}

p.faded {
    color: hsl(179, 43%, 75%);
    display: flex;
    align-items: center;
    margin-right: 10px;
}

p.faded span {
    color: #fff;
    font-size: 50px;
}

.yellow-text {
    color: hsl(71, 73%, 54%);
}

button {
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.0.05);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    padding: 20px 0;
    width: 100%;
}

ul {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    opacity: 0.7;
}

ul li {
    line-height: 28px;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}